p{
  color:red;
}
body{
  background-color:silver;
  button : center;
  
}
@media (max-width: 430px) {
  #header {
    display: flex;
    flex-direction: column;
    
  }
  logo{
    text-align:center;
  }
  .nav-link {
  align-content:flex-end;
  background-color: black;
  color: #149ea8;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  position: relative;
}
  

  